<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Best Cars</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/djangoapp"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/djangoapp/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
          </li>
        </ul>
        <div class="login-container">
          {% if not user.is_authenticated %}
          <form action="{% url 'djangoapp:login' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="usern" />
            <input type="password" placeholder="Password" name="passwd" />
            <button type="submit">Login</button>
            <a class="btn btn-link" href="/djangoapp/registration/">Sign Up</a>
          </form>
          {% else %}
          <a class="btn btn-link" href="#"
            >{{ user.first_name }}{{ user.username }}</a
          >
          <a class="btn btn-link" href="logout/">Logout</a>
          {% endif %}
        </div>
      </div>
    </nav>   
    <!-- Add reviews as cards -->
    
    <main class="container" style="padding: 3%;">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col text-center">
                    <a href="{% url 'djangoapp:add_review' dealer_id %}" class="btn btn-primary">Add Review</a>
                </div>
            </div>
        {% endif %}
        <div class="card-columns">
            {% for review in reviews %}
                <div class="card" style="height: 300px; overflow: scroll; overflow-x: hidden;">
                     <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-center" style="height: 100px; width: 100px; margin-left: 35%; margin-bottom: 5%; margin-top: 2%;">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                        <h5 class="card-title">{{ review.car_year }}</h5>
                        <p class="card-text">{{ review.review }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    </body>

</html>